.header-organisms-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.header-organisms-list ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}

.header-organisms-list li {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 5px;
}